.page-content {
  background: #F4F5F5;
  color: #303030;
  padding: 96px 0;
}

.services {
  margin-bottom: 62px;
}
.services__item {
  margin-bottom: 50px;
}

.service {
  display: flex;
}

.service:hover .service__btn {
  background-color: #F5170E;
  color: #fff;
}

.services__img {
  width: 41%;
  margin-right: 4.5%;
}

.services__content {
  flex: 1;
  padding-top: 15px;
}

.service__tittle {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 34px;
  color: #000;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 34.5px;
}

.service__btn {
  max-width: 168px;
  justify-content: center;
}