.about__list {
  display: flex;
  justify-content: space-between;
}

.about__list:before {
  content: "";
  display: block;
  width: 490px ;
  height: 505px;
  background: url(../../img/gates.png) center center / cover no-repeat;

}

.about__content {
  background: url(../../img/mountains.png) no-repeat;
  padding: 70px 80px;
  min-height: 455px;
  max-width: 785px;
  margin-left: -139px;
  margin-top: 100px;
}

.title__title--dark {
  color: black;
  font-weight: 700, bold;
  font-size: 36px;
  width: 103px;
  margin-bottom: 37px;
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  min-width: 502px;
  min-height: 135px;
  margin-top: 43px;
  margin-bottom: 41px;
  line-height: 27px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.button__about {
  color: #fff;
  max-width: 168px;
}