footer {
  margin-top: 53px;
  margin-bottom: 57.36px;
}

.footer {
  height: 92.64px;
  position: relative;
  margin-top: 15px;
}

.footer-container__content {
  border-top: 4px solid rgba(255, 255, 255, 0.1);
}

.call__info {
  color: #9A9A9A;
  font-size: 11px;
  text-align: right;
}


.nets__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.nets {
  top: 32px;
  right: 254px;
  position: absolute;
}

.nets__item:last-child {
  margin-right: 0;
}

.button__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.nets__item--tg .button__link {
  background-image: url(../../img/telegram.png);
} 

.nets__item--vk .button__link {
  background-image: url(../../img/vk.png);
} 

.nets__item--fb .button__link {
  background-image: url(../../img/f.png);
} 

.nets__item--ins .button__link {
  background-image: url(../../img/in.png);
} 

