.header {
  padding-top: 27px;
  
}
.container.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.header__col {
  display: inline-flex;
  align-items: center;
}

.header__col--right {
  display: inline-flex;
  align-items: flex-end;
}


.menu {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.contacts {
  font-style: normal;
  color: #fff;
}

.contacts__info:hover .dropdown__list {
  right: 0;
  opacity: 1;
}

.contacts__info:hover .contacts__schedule {
  text-decoration: underline;
  color: red;
}

.contacts__phone {
  font-size: 26px;
}

.contacts__info {
  position: relative;
  display: flex;
  justify-content: end;
  transition: 0.3s;
}

.contacts__schedule {
  font-size: 13px;
  text-align: end;
  width: 97px;
}

.dropdown__list {
  position: absolute;
  background: url(../../img/dropdown.png) right no-repeat;
  padding: 18px 19px;
  overflow: hidden;
  width: 160px;
  top: 100%;
  opacity: 0;
  transition: opacity 0.4s;
  right: -9999px;
}

.dropdown__item {
  color: #1E1F20;
  font-size: 13px;
  line-height: 21px;
}

.dropdown__item--workdays {
  font-weight: bold;
}