
.header__container {
  position: relative;
  height: 123.86px;
  }


.menu {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.contacts {
  font-style: normal;
  color: #fff;
}

.contacts__phone {
  font-size: 26px;
}

.contacts__info {
  font-size: 13px;
  text-align: end;
}