.hello__container {
  position: relative;
  color: #fff;
  margin-bottom: 246px;
  }

  .hello__title {
    height: 197px;
    width: 511px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
  }

  .hello__subtitle {
    width: 196px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 33.5px;
  }

