.hello__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 326px;
  color: #fff;
  margin-top: 130px;
}

  .hello__title {
    display: flex;
    width: 45%;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
}

  .hello__subtitle {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

