.news__list:last-child {
  margin-right: 0;
}
.container.news__container {
  color: #fff;
}

.title.offers__title.news {
  margin-bottom: 56px;
}

.news__item {
  display: inline-block;
  vertical-align: top;
  width: 543px;
  margin-right: 25px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news__img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px 30px;
  min-height: 140px;
  display: inline-block;
  vertical-align: top;
  bottom: 12px;
}

.news__date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12.5px;
}

.news__tittle {
  font-size: 24px;
  font-weight: 700;
  height: 36px;
  margin-top: 13px;
}

.news__lead {
  font-size: 16px;
  font-weight: 400;
}
