.offers__container {
  position: relative;
  margin-bottom: 127px;
  margin-top: 250px;
}

.title.offers__title {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 0;
}
.title.title--fire::after {
  content: url(../../img/flame.png);
  margin-left: 12px;
  height: 28px;
  width: 21px;
  vertical-align: middle;
  }

.offers__list {
  margin-top: 51px;
  display: flex;
  justify-content: space-between;
}

.offers__item {
  width: calc(100%/3 - 18px);
  min-height: 449px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__img {
  margin-bottom: 33px;
}

.offers__content {
  padding: 2px 16px 27px 21px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.offers__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.offers__features.features__list {
  display: flex;
  justify-content: space-between;
  margin-right: 28px;
}

.feautures__item.feature {
  margin-bottom: 22.5px;
}

.feautures__item.feature:last-child {
  margin-right: 0;
}

.feature__img {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.feature__text {
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

.offers__text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 39.5px;
}

.button--light {
  color: #F5170E;
  background: #fff;
  border: 1px solid #F5170E;
  border-radius: 35px;
	padding: 18px 30px;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
  max-width: 135px;
}

.button--bali {
  color: #fff;
  max-width: 135px;
  padding: 18px 31px;}


